@charset "utf-8";
body,html{
	padding:0px;
	margin:0px;
}

.containerContent{
	display: flex;
	justify-content: center;
	align-items: center;
}

 h1{
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	 font-size:15px;
	 font-family: rojeeh;
}





.form-table{
	padding: 10px;
	
}

.form-table input{
	border: 1px solid #ACACAC;
	background-color: #E8E8E8;
	border-radius: 5px;
	padding: 5px;
}
#verzendKnop{
	background-color: black;
	color: white;
	border: 0px;
	padding: 10px;
}

@media only screen and (min-width: 560px){
	h1{
	font-size: 20px;		
   }

.form-table{
	display: flex;
	justify-content: center;
	align-items: center;
}
	
	
}


@media only screen and (min-width: 900px){
	
	h1{
	font-size: 30px;		
}
    
	
	.table{
		width:30%;
		border-left: 6px solid black;
	}
	
	
    
	
	
	
}

